################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Zork/v17/Browse.VC.db
/.vs/Zork/v17/Browse.VC.db-shm
/.vs/Zork/v17/Browse.VC.db-wal
/.vs/Zork/v17/Browse.VC.opendb
